body {
  background-color: #1C1C1C;
  color: white;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0px;
}

hr {
  width: 100%;
  margin: 35px 0px;
  color: #2F3E53;
}

button {
  border: none;
  border-radius:  6px;
  background-color: #10B981;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}

.heading {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}

.subheading {
  color: #D5D4D8;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.green-text {
  color: #4ADF86;
}

.result {
  width: 210px;
  height: 40px;
  background-color: #273549;
  border-radius:  6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#center-card {
  box-sizing: border-box;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#results-container {
  display: flex;
  justify-content: space-between;
}